header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid burlywood;
}

li {
  list-style: none;
  margin-left: 20px;
}

ul {
  display: flex;
}

a {
  text-decoration: none;
  color: black;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  justify-content: center;

}

button{
    padding: 10px;
}
